body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.animated-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(-270deg, #5062ee, #2298e6);
    background-size: 200% 200%;
    animation: gradient 5s infinite;
}

@keyframes gradient {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 100% 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    height: 10px;
    background-color: #3e47a74a;
    box-shadow: 0 2px 15px 0 rgba(142, 57, 57, 0.2);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    margin-right: 38px;
}

.navbar li {
    color: #261f37;
    display: inline;
    margin-right: 20px;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    margin-bottom: 3px;
}

.navbar li a {
    padding: 11px 17px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    font-family: Inter, Helvetica;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    transition: font-weight 0.3s, 0.3s;
}

.navbar li a:hover {
    font-weight: 500;
}

.navbar li aLM {
    padding: 11px 17px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter, Helvetica;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 100vh;
}

.centerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 70%;
    margin-bottom: 7%;
    overflow: auto;
}

input {
    width: 450px;
    height: 20px;
    font-size: 16px;
    padding: 16px; 
    border-radius: 40px; 
    border: none; 
    font-family: Inter;
}
input:focus {
    outline: none;
}

.searchButtons{
    display: flex; flex-direction: row; justify-content: center; gap: 10px;
}

.search-title{
    font-size: 30px;
    font-weight: 800;
    color: white;
    font-family: 'Inter', Helvetica;
    margin-top: 50px;
    margin-bottom: 20px;

}

.buttonSearch{
    height: 30px; color: rgb(255, 255, 255); font-family: Inter; border: 1px solid rgba(255, 255, 255, 0); border-radius: 7px; background-color: rgba(255, 255, 255, 0.198); padding-top: 7px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;
}

.buttonSearch:hover{
    border: 1px solid rgba(255, 255, 255, 0.582);
    cursor: pointer;
}

.soundshiftText {
    font-family: 'Inter', Helvetica Neue;
    font-size: 25px;
    font-weight: 800;
    color: white;
    font-variation-settings: "slnt" -10;
    margin-left: 40px;
    text-decoration: none;
    transition: color 0.2s;
}

.soundshiftText:hover {
    color: rgba(245, 245, 245, 0.5);
}

.footer {
    color: rgba(245, 245, 245, 0.5);
    text-align: center;
    padding-bottom: 1%;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.results{
    width: 450px;
    min-height: 60px;
    padding: 15px;
    margin-top: -25px;
}

.singleUnit {
    display: flex; 
    align-items: center; 
    flex-direction: row;

    justify-content: left;
    gap: 10px; 
    margin: 10px; 
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.infoDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.deleteUser {
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.deleteUser:hover{
    text-decoration: underline;
}

.makeAdmin {
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.id{
    font-family: Inter, Arial;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.382);
    text-decoration: none;
}

.id:hover{
    cursor:default;
}

.username{
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.username:hover{
    text-decoration: underline;
}

.songInfo{
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.songInfo:hover{
    text-decoration: underline;
}

.comment{
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.user{
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.user:hover{
    text-decoration: underline;
}

.song{
    font-family: Inter, Arial;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.song:hover{
    cursor: default;
}

.comment:hover{
    cursor: default;
}