        body {
            font-family: Helvetica;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            /* Changed from height: 100% */
            margin: 0;
            padding: 0;
            overflow: auto;
            /* Changed from overflow: hidden */
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            padding: 25px;
            align-items: center;
            height: 10px;
            background-color: #a7533e4a;
            box-shadow: 0 2px 15px 0 rgba(142, 57, 57, 0.2);
        }

        .navbar ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
            margin-right: 38px;
        }

        .navbar li {
            color: #261f37;
            display: inline;
            margin-right: 20px;
            font-family: 'Inter', Helvetica;
            font-size: 20px;
            margin-bottom: 3px;
        }

        .navbar li a {
            padding: 11px 17px;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-weight: 300;
            font-family: Inter, Helvetica;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            transition: font-weight 0.3s, 0.3s;
        }

        .navbar li a:hover {
            font-weight: 500;
        }

        .navbar li aLM {
            padding: 11px 17px;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-family: Inter, Helvetica;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            max-width: 1200px;
            height: 70%;
        }

        .left-side {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0px;  
            padding-left: 50px;
            max-width: 1200px;
            /* Limit the maximum width */
            margin: auto;
            /* Center the elements horizontally */
            position: relative;

        }

        .right-side {
            overflow-y: hidden;
            flex: 1;
            display: flex;
            align-items: center;
            padding-right: 50px;
            padding-top: 50px;  
            max-width: 1200px;
            max-height: 100%;
        }

        @keyframes colorfulAnimation {
            0% {
                background-color: #ff0000;
            }

            20% {
                background-color: #00ff00;
            }

            40% {
                background-color: #3b3bda;
            }

            60% {
                background-color: #ff00ff;
            }

            80% {
                background-color: #00ffff;
            }

            100% {
                background-color: #ff0000;
            }

            /* Same as the starting color */
        }

        .circle-inner {
            position: absolute;
            margin-top: 30px;
            height: 300px;
            width: 300px;
            border-radius: 50%;
            box-shadow: inset 0 0 50px #fff,
                inset 20px 0 80px #f0f,
                inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f,
                inset -20px 0 300px #0ff,
                0 0 50px #fff,
                10px 0 400px #f0f;
            transition: box-shadow 0.6s;
            animation: colorfulAnimation 7s infinite;
        }

        .circle-inner:hover {
            cursor: pointer;
            box-shadow: inset 0 0 50px #fff,
                inset 20px 0 80px #fa4554,
                /* Hot Pink */
                inset -20px 0 80px #40E0D0,
                /* Turquoise */
                inset 20px 0 300px #fa4554,
                inset -20px 0 300px #40E0D0,
                0 0 50px #fff,
                10px 0 400px #FF69B4;
        }

        .circle-label {
            color: rgba(245, 245, 245, 0.286);
            position: absolute;
            right: 90%;
            /* positions the right edge of the element just to the left of the parent's left edge */
            top: 50%;
            /* positions the top edge of the element at the vertical middle of its parent */
            transform: translateY(-75%);
            /* vertically centers the element */
            font-size: 18px;
            font-family: "Inter", Helvetica;
            font-weight: 350;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .square-inner {
            width: 700px;
            height: 500px;
            padding-top: 220px;
            text-align: center;
            color: white;
        }

        .footer {
            color: rgba(245, 245, 245, 0.5);
            text-align: center;
            padding-bottom: 1%;
            font-size: 12px;
            position: fixed;
            /* Changed from position: static */
            bottom: 0;
            /* Stick to the bottom */
            width: 100%;
            /* Full width */
        }

        .soundshiftText {
            font-family: 'Inter', Helvetica Neue;
            font-size: 25px;
            font-weight: 800;
            color: white;
            font-variation-settings: "slnt" -10;
            margin-left: 40px;
            text-decoration: none;
            transition: color 0.2s;
        }

        .soundshiftText:hover {
            color: rgba(245, 245, 245, 0.5);
        }

        .animated-bg {
            position: fixed;

            width: 100%;
            height: 100%;
            background: linear-gradient(-270deg, #ee5050, #e622a5);
            background-size: 200% 200%;
            animation: gradient 5s infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 100% 0;
            }

            50% {
                background-position: 0 100%;
            }

            100% {
                background-position: 100% 0;
            }
        }

        .headers {
            text-align: center;
            color: #fff;
            font-family: "Inter", Helvetica;
            font-weight: 700;
            font-variation-settings: "slnt" -10;
            transition: color 0.4s, 0.4s;
        }

        .headers:hover {
            color: rgb(214, 214, 214);
            cursor: default;
        }

        .labelGenre,
        .songTitleLabel,
        .explicitLabel,
        .explicitLabel2,
        .artistLabel,
        .genreLabel,
        .infoText {
            color: #fff;
            font-family: "Inter", Helvetica;
            font-weight: 350;
            font-size: 17px;
        }

        .explicitLabel2 {
            margin-left: 10px;
        }

        #explicit1 {
            margin-left: 10px;
        }

        #genre1,
        #genre {
            padding: 8px;
            font-family: "Inter", Helvetica;
            font-size: 12px;
            /* make the text a bit larger */
            border-radius: 20px;
            font-weight: 400;
            border: 1px solid #e0f7fa;
            appearance: none;
            /* removes the default appearance */
            background-color: #e0f7fa;
            /* change this to your preferred color */
            color: #5f5f5f;
            text-align-last: center;
            max-width: 80px;
            outline: none;
            /* removes the default outline */
            transition: all 0.1s ease 0s;
            /* makes the changes animate smoothly */
        }

        #genre1:hover,
        #genre:hover {
            border-color: #888;
            transform: translateX(1px);
            /* moves the element up when hovered over */
        }

        #songTitle,
        #artistName {
            width: 30%;
            padding: 12px;
            border: none;
            background-color: rgba(245, 245, 245, 0.11);
            border-radius: 50px;
            color: white;
            font-size: 13px;
            margin-bottom: 10px;
        }

        #songTitle:focus,
        #artistName:focus {
            outline: none;
        }

        #songTitle::placeholder,
        #artistName::placeholder {
            color: rgba(255, 255, 255, 0.30);
        }

        .submitButton {
            padding: 10px 15px;
            margin-top: 10px;
            background-color: transparent;
            color: #fff;
            text-decoration: none;
            border: 1.5px solid #ffffff;
            border-radius: 50px;
            font-size: 15px;
            font-family: "Inter", Helvetica;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
        }

        .submitButton:hover {
            background-color: #624be8;
            border-color: #624be8;
        }

        .genreExDiv {
            position: absolute;
            top: 200px;
            left: 218px;
        }

        #error-message {
            font-family: "Inter", Helvetica;
            color: yellow;
            font-size: 13px;
        }

        .divider {
            width: 1px;
            background-color: #ffffff64;
            height: 95%;
            margin-top: 80px;
        }

        @keyframes moveLeftRight {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(10px);
            }

            100% {
                transform: translateX(0);
            }
        }

        .clickMeAnimation {
            animation: moveLeftRight 1s infinite;
        }

        .randomSongLabel{
            
            margin-top: 10px;
        }