<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4662D8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/stylesheets/adminUsersListStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">
    <title>Soundshift</title>
</head>

<body>
    <center>
        <div class="animated-bg">
            <div class="navbar">
                <a class="soundshiftText" href="/adminMainpage">soundshift</a>
                <ul>
                    <li><a href="/adminMainpage">Home</a></li>
                    <li><a href="/adminSearch">Search</a></li>
                    <li><a href="/adminProfile/me">Profile</a></li>
                    <li><a href="/adminUsersList" style="font-weight: 500;">Users</a></li>
                    <li><a href="/adminSongsList">Songs</a></li>
                    <li><a href="/adminCommentsList">Comments</a></li>
                    <li><a href="/adminReportsList">Reports</a></li>
                </ul>
                <li><a href="/logout">Log Out</a></li>
            </div>

            <div class="content">

                

            </div>

            <div class="footer">
                Made by: <a href="https://github.com/valentino-ivanovski" style="color: inherit;">Valentino
                    Ivanovski</a> for Systems 3 - 2024
                - Welcome, <strong>
                    <%= user.username %>🔸
                </strong>
            </div>

        </div>
        <script>
            
        </script>
    </center>
</body>