<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundshift</title>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
    <meta name="theme-color" content="#7e2ffc">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="animated-bg"></div>
    <div id="welcomeContainer">
        <h1 class="welcome1" id="animated-text">Soundshift</h1>
        <p class="welcome2">Discover and share your favorite songs with others ✨</p>
        <a href="https://www.omfgdogs.com">
            <button class="buttonLM">Learn More</button>
        </a>
    </div>
    <div class="login-register">
        <a href="login" class="button">Login</a>
        <a href="register" class="button">Register</a>
    </div>
</body>

</html>