<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ee5050">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@750;300;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="animated-bg">
        <div class="container">
            <h1 style="font-family: 'Inter', Helvetica; font-size: 80px; color: white; margin: 0; margin-bottom: 20px; cursor: default;">
                Login</h1>
            <form action="/login/login" method="POST">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <p class="error">
                    <%= locals.error %>
                </p>
                <button type="submit">Login</button>
                <p style="font-family: 'Inter', Helvetica; font-weight: 300; color: antiquewhite; margin-top: 25px;">Don't have an
                    account? <a href="/register" style="color:antiquewhite;">Register✨</a></p>
            </form>
        </div>
    </div>
</body>

</html>