<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ee5050">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/stylesheets/registerStyle.css">
</head>
<body>
    <div class="animated-bg">
        <div class="container">
            <h1 style="font-family: 'Inter', Helvetica; font-size: 80px; color: white; margin: 0; margin-bottom: 20px; cursor: default;">
                Register</h1>
            <form action="/register/registerUser" id="registerForm method="POST" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <input type="text" placeholder="Username" name="username" required>
                <input type="text" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <input id="confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword" required>
                <p class="error">
                    <%= locals.errorReg %>
                </p>
                <button type="submit">Register</button>
                <p style="font-family: 'Inter', Helvetica; font-weight: 300; color: antiquewhite; margin-top: 25px;">Already have an account? <a href="/login" style="color:antiquewhite;">Log In✨</a></p>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            alert('Passwords do not match.');
            event.preventDefault();
        }
    });
</script>
</html>
