<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#C16148">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/stylesheets/searchStyle.css"> <!-- Link to the new CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">
    <title>Soundshift</title>
</head>

<body>
    <center>
        <div class="animated-bg">
            <div class="navbar">
                <a class="soundshiftText" href="/mainpage">soundshift</a>
                <ul>
                    <li><a href="/mainpage">Home</a></li>
                    <li><a href="/search" style="font-weight: 500;">Search</a></li>
                    <li><a href="/profile/me">Profile</a></li>
                </ul>
                <li><a href="/logout">Log Out</a></li>
            </div>

            <div class="content">

                <div class="centerdiv">

                        <input type="text" id="search" placeholder="Search for a user...">

                </div>

            </div>

            <div class="footer">
                Made by: <a href="https://github.com/valentino-ivanovski" style="color: inherit;">Valentino
                    Ivanovski</a> for Systems 3 - 2024
                - Welcome, <strong>
                    <%= user.username %>
                </strong>
            </div>

        </div>
        <script>

            
        </script>
    </center>
</body>